@use '../abstracts/variables' as v;
@use '../abstracts/mixin' as m;
@use '../abstracts/placeholders' as p;

.customers {
  @extend %section-spacing;
}

.customers__block-title {
  @extend %main-section-title;
  font-family: v.$main-font;
}

.customers__block-icons {
  @include m.flex-center($gap: 30px);
  flex-wrap: wrap;
}

.customers__block-icon {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  @include m.flex-center();
  color: #afb1b8;
  @include m.transition-standard(border-color, color);

  svg {
    width: 106px;
    height: 60px;
    fill: currentColor;
  }

  &:hover,
  &:focus {
    border-color: v.$blue-main;
    color: v.$blue-main;
  }
}