@use '../abstracts/variables' as v;
@use '../abstracts/mixin' as m;
@use '../abstracts/placeholders' as p;

.spetion {
  @extend %section-spacing;
  font-family: v.$main-font;
}

.spetion__blocks {
  @include m.flex-center($gap: 30px);
  align-items: flex-start;
}

.spetion__blocks-item {
  @include m.grid-layout(4, 30px);
  display: flex;
  flex-direction: column;

  &::before {
    content: '';
    @include m.flex-center();
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:nth-child(1)::before {
    background-image: url('../assets/images/antenna1.png');
  }
  &:nth-child(2)::before {
    background-image: url('../assets/images/clock1.png');
  }
  &:nth-child(3)::before {
    background-image: url('../assets/images/diagram1.png');
  }
  &:nth-child(4)::before {
    background-image: url('../assets/images/astronaut1.png');
  }
}

.spetion__blocks-title {
  @extend %small-upper-title;
  color: v.$black-main;
  margin-bottom: 10px;
}

.spetion__blocks-text {
  color: v.$grey-main;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
}
