@use '../abstracts/variables' as v;

.spetion {
  font-family: v.$main-font;
  padding: 94px 0;
}

.spetion__blocks {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.spetion__blocks-item {
  flex-basis: calc((100% - 90px) / 4);
  display: flex;
  flex-direction: column;

  &::before {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:nth-child(1)::before {
    background-image: url('../assets/images/antenna1.png');
  }

  &:nth-child(2)::before {
    background-image: url('../assets/images/clock1.png');
  }

  &:nth-child(3)::before {
    background-image: url('../assets/images/diagram1.png');
  }

  &:nth-child(4)::before {
    background-image: url('../assets/images/astronaut1.png');
  }
}

.spetion__blocks-title {
  color: v.$black-main;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.spetion__blocks-text {
  color: v.$grey-main;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
}
