@use '../abstracts/variables' as v;
@use '../abstracts/mixin' as m;
@use '../abstracts/placeholders' as p;

.services {
  padding-bottom: 94px;
}

.servises__block-title {
  @extend %main-section-title;
  font-family: v.$main-font;
}

.gallery {
  @extend %list-reset;
  @include m.flex-center($gap: 30px);
}

.gallery__box {
  position: relative;
  width: 370px;
}

.gallery__box-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery__box-item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  @include m.flex-center();
}

.gallery__box-title {
  @extend %small-upper-title;
  font-family: v.$main-font;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}