@use '../abstracts/variables' as v;

.services {
  padding-bottom: 94px;
}

.servises__block-title {
  font-family: v.$main-font;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.gallery__box {
  position: relative;
  width: 370px;
}

.gallery__box-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery__box-item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__box-title {
  font-family: v.$main-font;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
