@use '../abstracts/variables' as v;
@use '../abstracts/mixin' as *;

.header {
  border-bottom: 1px solid v.$grey-alt;

  &__inner {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    align-items: center;
  }
}

.header__inner .container {
  justify-items: space-between;
}
