@use '../abstracts/variables' as v;
@use '../abstracts/mixin' as m;

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../../assets/images/section1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  &__block {
    max-width: 696px;
    margin: auto;

    &-title {
      margin-bottom: 30px;
      color: #ffffff;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }

    &-button {
      @include m.button-style(10px 32px, 200px);
      background-color: v.$blue-main;
      color: #ffffff;
      @include m.transition-standard(background-color);
      margin: 0 auto;

      &:hover,
      &:focus {
        background-color: v.$blue-hover;
      }
    }
  }
}