@use '../abstracts/variables' as v;

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  background-color: #2f303a;
  background-image:
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../assets/images/section1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  &__block {
    max-width: 696px;
    margin: auto;
    &-title {
      margin-bottom: 30px;
      color: v.$white-main;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }

    &-button {
      padding: 10px 32px;
      min-width: 200px;
      background-color: v.$blue-main;
      color: v.$white-main;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.06em;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color v.$transition-main;

      &:hover,
      &:focus {
        background-color: v.$blue-hover;
      }
    }
  }
}
