@use '../abstracts/variables' as v;
@use '../abstracts/mixin' as m;
@use '../abstracts/placeholders' as p;

.our-team {
  background-color: #f5f4fa;
  @extend %section-spacing;
}

.our-team__title {
  @extend %main-section-title;
}

.our-team__cards {
  @include m.flex-center($gap: 30px);
}

.our-team__card {
  background-color: #ffffff;
  @extend %card-shadow;
  border-radius: 0px 0px 4px 4px;
  @include m.grid-layout(4, 30px);
  padding-bottom: 30px;
  text-align: center;
  @include m.transition-standard(transform);

  &:hover {
    transform: scale(1.03);
  }
}

.our-team__card-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.our-team__card-title {
  font-size: 16px;
  font-weight: 500;
  color: v.$black-main;
  margin-bottom: 10px;
}

.our-team__card-text {
  font-size: 16px;
  color: v.$grey-main;
  margin-bottom: 16px;
}

.our-team__card-icons {
  @include m.flex-center($gap: 10px);
}

.our-team__card-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  @include m.flex-center();
  fill: v.$icon-color;
  @include m.transition-standard(background-color, fill);

  svg {
    width: 20px;
    height: 20px;
  }

  &:hover,
  &:focus {
    background-color: v.$blue-main;
    fill: #ffffff;
  }
}