@use '../abstracts/variables' as v;

.info {
  display: flex;
  gap: 30px;
  margin-left: auto;
  flex-wrap: wrap;
  width: auto;

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: v.$grey-main;
    font-weight: v.$fw-medium;
    font-size: 14px;
    text-decoration: none;
    transition: color v.$transition-main;

    &:hover,
    &:focus {
      color: v.$blue-main;
    }
  }

  &__icon {
    fill: currentColor;
  }
}

.mail {
  width: 16px;
  height: 16px;
  display: block;
  transition: fill v.$transition-main;
  fill: v.$grey-main;
}

.tel {
  width: 10px;
  height: 16px;
  display: block;
  transition: fill v.$transition-main;
  fill: v.$grey-main;
}

.info__link:hover > svg {
  fill: v.$blue-main;
}
