@use '../abstracts/variables' as v;
@use '../abstracts/mixin' as m;
@use '../abstracts/placeholders' as p;

.logo {
  &__image {
    width: 144px;
    height: 31px;
    display: block;
    margin: 25px 88px 25px 0;
  }
}
