@use '../abstracts/variables' as v;

.nav {
  display: flex;
  align-items: center;
  margin-right: 90px;

  &__list {
    display: flex;
    gap: 50px;
    height: 100%;
    align-items: center;

    &-item {
      position: relative;
      height: 100%;
      align-items: center;
      display: flex;
      color: v.$black-main;
      font-weight: v.$fw-medium;
      font-family: v.$main-font;
      font-size: 14px;
      letter-spacing: 0.02em;
      transition: color v.$transition-main;

      &:hover,
      &:focus {
        color: v.$blue-main;
      }
    }
  }
}

.active-page {
  color: v.$blue-main !important;
  width: 100%;

  &::after {
    content: '';

    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: v.$blue-main;
    transition: transform v.$transition-main;
    animation: lineAnim 3s v.$transition-main infinite;
  }
}
