@use '../abstracts/variables' as v;

html {
  font-size: 14px;
}

svg {
  display: block;
}

.container {
  max-width: v.$max-width;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

body {
  font-family: v.$main-font;
  overflow-x:hidden;

}

body.no-scroll {
  overflow: hidden;
}